/* 1 */
h1 h2 h3 h4 h5 h6{
    color: red;
}
/* 2 */
p [href] {
    color: black;
}
/* 3 */
#ultimo ul {
    color: yellow;
  }
#ultimo ul a {
    color: blue;
}

/* 4 */
.importante {
    color: green;
  }
h1 .importante {
    color: red;
}

/* 5 */
h1[title] {
    color: blue;
}

/* 6 */
ol a:link {
    color: blue;
    text-decoration: none;
}
ol a:visited {
    color: violet;
    text-decoration: none;
}