/* Practica 1*/
.contenedor{
    background-color: aqua;
    width: 100%;
    height: 100vh;
}

/* Practica 2*/

.grilla{
    background-color: aqua;
    width: 100%;
    height: 70px;
    margin: 5px 0;
}
